*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    font-family: 'Poppins';
}
/*HEADER STYLING*/
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: radial-gradient(#26A69A 1px, transparent 0.5px);
    background-size: 15px 15px;
}
.logo img{
    height: 10rem;
}
.nav-links{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
}
.btn{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.login-btn{
    background-color: #CBFFD0;
    color: Log in;
    font-family:'Poppins', sans-serif;
    padding:1rem 3rem;
    border-radius: 8px;
}
.sign-btn{
    font-family:'Poppins', sans-serif;
    padding:1rem 3rem;
    background-color: #26A69A;
    border-radius: 8px;
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    background-image: radial-gradient(#26A69A 1px, transparent 0.5px);
    background-size: 15px 15px;
}
.hero-box1{
    padding: 4rem;
    font-size: 2rem;
 }
 .hero-box1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
 }

 /*FEATURES */
 .features-container{
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 4rem;
 }
 .feature-box2{
    gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.our-feature-1,.our-feature-2,
.our-feature-3,.our-feature-4{
    border-radius: 8px;
    width: 18rem;
    padding: 1rem;
}
.our-feature-1,.our-feature-3{
    background-color: #CBFFD0;
}
.our-feature-2,.our-feature-4{
    background-color: #26A69A;
}
.our-feature-1 h2,.our-feature-2 h2,
.our-feature-3 h2,.our-feature-4 h2{
    font-weight: 700;
}
.feature-grid{
    display: flex;
    gap: 4rem;
}
.feature-img{
    position: absolute;
}
.feature-box1 img{
    height: 40rem;
}
.iphone-img{
    position: relative;
    top: 2rem;
}
.feature-header{
    align-self: center;
    display: flex;
}
/*HOW IT WORKS*/

/*FOOTER*/
.footer{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #26A69A;
    flex-direction: column;
    padding: 2rem;

}
.footer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer4{
    display: flex;
    justify-content: center;
}
.footer2,.footer3{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
span{
    font-weight: 100;
    color: #ffff;
}
.footer1 h1{
    color: #ffff;
}

/*TESTIMONIAL CONTAINER*/
.testimonal-container{
    background-color: ;
}
.testimonal-container img{
    position: absolute;
}